//
   Created by admin on 6/1/2017.
html
    head
        title= "Chats"
        meta(property="og:title" content="ProgConf Statistic")
        meta(property="og:image" content="http://progconfbot.herokuapp.com/images/bill.png")
        meta(property="og:description" content="2ch /pr progConf bot")
        meta(property="og:type" content="website")
    body
        h1=chatId